body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(249, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
}

.kalkulator_sederhana{
    width: 250px;
    background-color: rgb(255, 254, 254);
    border-radius: 8px;
    box-shadow: 0 0 10 (black);
    padding: 20px;
}

#display {
    width: 230px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.btn{
    padding: 15px;
    margin-right: 2px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;  
}

.operator{
    background-color: orange;

}

.operator:active{
    background-color: red;
}

.clear{
    grid-column: span 4;
    background-color: orange;
    color: white;
    width: 100%;

}

.clear:active{
    background-color: red;
}